<main>
  <div class="titleCliente">
    <h1>Conheça nossos Clientes</h1>
  </div>
  <div class="logos">
    <div class="logo-slide">
      <img src="assets/ClienteLogoOne.svg" alt="ClienteLogoOne" />
      <img src="assets/ClienteLogoTwo.svg" alt="ClienteLogoTwo" />
      <img src="assets/ClienteLogoThree.svg" alt="ClienteLogoThree" />
      <img src="assets/ClienteLogoFour.svg" alt="ClienteLogoFour" />
      <img src="assets/ClienteLogoFive.svg" alt="ClienteLogoFive" />
      <img src="assets/ClienteLogoSix.svg" alt="ClienteLogoSix" />
    </div>
    <div class="logo-slide">
      <img src="assets/ClienteLogoOne.svg" alt="ClienteLogoOne" />
      <img src="assets/ClienteLogoTwo.svg" alt="ClienteLogoTwo" />
      <img src="assets/ClienteLogoThree.svg" alt="ClienteLogoThree" />
      <img src="assets/ClienteLogoFour.svg" alt="ClienteLogoFour" />
      <img src="assets/ClienteLogoFive.svg" alt="ClienteLogoFive" />
      <img src="assets/ClienteLogoSix.svg" alt="ClienteLogoSix" />
    </div>
  </div>
</main>
