<footer>
  <div class="titleLogo">
    <div class="logoHeader">
      <img src="assets/Nexora.svg" alt="nexoraSvg" />
    </div>
    <p>
      Obrigado por visitar nosso projeto. Fique por dentro das novidades e
      acompanhe nosso conteúdo. <br />
      Siga-nos nas redes sociais ou entre em contato para tirar dúvidas.
      Construindo ideias, aprendendo juntos.
    </p>
  </div>

  <div class="creatorCopy">
    <div class="devCreator">
      <p>
        Desenvolvido por
        <a href="https://www.linkedin.com/in/caiocosta94/">Caio Costa</a>
      </p>
    </div>
    <div class="copy">
      <span>© 2025 Nexora Construções.</span>
    </div>
  </div>
</footer>
