<main>
  <header>
    <div class="logoHeader">
      <img src="assets/Nexora.svg" alt="nexoraSvg" />
    </div>
    <nav class="navegationHeader">
      <ul>
        <li *ngFor="let link of links">
          <a href="javascript:void(0)" (click)="onScrollToSection(link.url)">
            {{ link.label }}</a
          >
        </li>
      </ul>
    </nav>

    <app-button class="btnGlobal" text="Fale Conosco" link="#"></app-button>

    <div class="menuBurger">
      <span (click)="onClickMenuBurger()" class="material-symbols-outlined">
        menu
      </span>
    </div>
  </header>

  <!-- NavBar Mobile -->
  <nav
    class="navegationMobile"
    [@menuAnimation]="openModalNav ? 'open' : 'closed'"
  >
    <div class="svgNavMobile">
      <img src="assets/arrowNavMobile.svg" alt="arrowNavMobile" />
    </div>
    <ul>
      <li *ngFor="let link of links">
        <a href="javascript:void(0)" (click)="onScrollToSection(link.url)">
          {{ link.label }}</a
        >
      </li>
    </ul>
  </nav>
</main>
