@import "@variables";

main {
  width: 100%;
  height: 47rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .aboutTitle h1 {
    position: absolute;
    content: "";
    top: 0.6em;
    right: 2em;
    font-size: 10em;
    letter-spacing: 12px;
    color: #f2f2f2;
    z-index: -1;
  }

  .aboutContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 1em;
    flex-direction: row;
    gap: 8em;

    .aboutContainerText {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1.6em;
      width: 700px;
      height: 440px;
      padding: 1.2em 0em;

      .aboutText {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 0em 1em;
        h1 {
          font-size: 3em;
        }

        p {
          font-size: 1.2em;
          font-weight: 400;
          text-align: justify;
        }
      }

      .aboutIconsContainer {
        display: flex;
        width: 100%;
        height: 150px;
        flex-wrap: wrap;
        padding: 0em 1em;
        gap: 1em 5em;

        .aboutIconText {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 1em;
          min-width: 260px;

          .aboutIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #e6e6e6;
            padding: 8px;
            border-radius: 50%;
            span {
              font-size: 1.7em;
              font-weight: 400;
            }
          }
        }
      }
    }

    .aboutImgContainer {
      position: relative;
      .imgAbout {
        border-radius: 5px;
      }

      .svgAbout {
        position: absolute;
        left: 20px;
        bottom: 20px;
      }
    }
  }
}
