<main>
  <div class="aboutTitle">
    <h1>SOBRE</h1>
  </div>
  <div class="aboutContainer">
    <div class="aboutImgContainer">
      <img class="imgAbout" src="assets/imgSobre.jpg" alt="sobre" />
      <img class="svgAbout" src="assets/svgSobre.svg" alt="svgSobre" />
    </div>
    <div class="aboutContainerText">
      <div class="aboutText">
        <h1>Nexora Construções</h1>
        <p>
          Somos uma empresa inovadora no setor da construção civil,
          especializada em projetos para o mercado imobiliário e empresas
          públicas e privadas. Oferecemos soluções inteligentes, com foco em
          sustentabilidade, tecnologia avançada e eficiência, garantindo
          qualidade e cumprimento de prazos.
        </p>
      </div>
      <div class="aboutIconsContainer">
        <div *ngFor="let icon of icons" class="aboutIconText">
          <div class="aboutIcon">
            <span class="material-symbols-outlined">{{ icon.svg }}</span>
          </div>
          <h3>{{ icon.textIcon }}</h3>
        </div>
      </div>
    </div>
  </div>
</main>
