<main>
  <app-title-sections title="Sobre"> </app-title-sections>

  <div class="divContainerTitle">
    <div class="divTitle">
      <h3>Empresa</h3>
      <h1>Quem Somos</h1>
      <p>
        Somos uma empresa inovadora, dedicada a oferecer soluções inteligentes
        para o setor da construção civil. Nosso compromisso vai além da obra em
        si, pois consideramos os impactos ambientais e sociais em cada projeto.
        Contamos com uma equipe altamente capacitada e em constante atualização,
        para acompanhar as últimas tendências tecnológicas. Com a expertise do
        nosso time técnico, transformamos seu sonho em realidade, sempre
        buscando otimizar custos, garantir a qualidade e cumprir rigorosamente
        os prazos estabelecidos.
      </p>
    </div>

    <div class="divImgSobre">
      <img src="assets/imgSobre.jpg" alt="" />
    </div>
  </div>
</main>
