@import "@variables";

main {
  width: 100%;
  height: 47rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .aboutTitle h1 {
    position: absolute;
    content: "";
    top: 0.6em;
    right: 2em;
    font-size: 10em;
    letter-spacing: 12px;
    color: #f2f2f2;
    z-index: -1;

    @media screen and (max-width: 640px) {
      top: 3em;
      right: -0.1em;
      font-size: 7em;
    }
  }

  .aboutContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 1em;
    flex-direction: row;
    gap: 8em;

    @media screen and (max-width: 1450px) {
      gap: 3em;
    }
    @media screen and (max-width: 780px) {
      flex-direction: column;
      gap: 0.4em;
      padding: 1em;
    }
    .aboutContainerText {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1.6em;
      width: 700px;
      height: 440px;
      padding: 1.2em 0em;
      @media screen and (max-width: 780px) {
        gap: 1em;
        width: 100%;
        padding: 0px;
      }
      .aboutText {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 0em 1em;
        width: 100%;
        @media screen and (max-width: 780px) {
          gap: 0.8em;
          padding: 0em 0.8em;
        }
        h1 {
          font-size: 3em;
          @media screen and (max-width: 780px) {
            font-size: 2em;
          }
        }

        p {
          font-size: 1.2em;
          font-weight: 400;
          text-align: justify;
          @media screen and (max-width: 780px) {
            font-size: 1.1em;
          }
        }
      }

      .aboutIconsContainer {
        display: flex;
        width: 100%;
        height: 150px;
        flex-wrap: wrap;
        padding: 0em 1em;
        gap: 1em 5em;

        @media screen and (max-width: 1250px) {
          gap: 1em 2em;
        }
        @media screen and (max-width: 1000px) {
          gap: 1em;
          height: 100px;
        }
        @media screen and (max-width: 620px) {
          justify-content: center;
          align-content: center;
          padding: 0px;
        }
        .aboutIconText {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 1em;
          width: 260px;
          @media screen and (max-width: 620px) {
            width: 170px;
            gap: 0.4em;
          }

          .aboutIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #e6e6e6;
            padding: 8px;
            border-radius: 50%;

            span {
              font-size: 1.7em;
              font-weight: 400;
              @media screen and (max-width: 620px) {
                font-size: 1.2em;
              }
            }
          }
          h3 {
            font-size: 1.17em;
            @media screen and (max-width: 620px) {
              font-size: 0.8em;
            }
          }
        }
      }
    }

    .aboutImgContainer {
      position: relative;
      overflow: hidden;

      @media screen and (max-width: 780px) {
        width: 370px;
      }

      .imgAbout {
        border-radius: 5px;
        width: 100%;
        height: 100%;
      }

      .svgAbout {
        position: absolute;
        left: 20px;
        bottom: 20px;
        @media screen and (max-width: 1250px) {
          width: 120px;
        }
      }
    }
  }
}
