<!-- Header -->
<app-header (scrollTo)="scrollToSection($event)"></app-header>
<!-- Welcome -->
<app-section-welcome #welcome></app-section-welcome>
<!-- Valores -->
<app-section-valores #valores></app-section-valores>
<!-- Sobre -->
<app-section-sobre #sobre></app-section-sobre>
<!-- Serviços -->
<app-section-servicos #servicos></app-section-servicos>
<!-- Clientes -->
<app-section-clientes #clientes></app-section-clientes>
<!-- Contatos -->
<app-section-contatos #contatos></app-section-contatos>
