@import "@variables";

main {
  width: 100%;
  height: 47rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2em;
  position: relative;
  @media screen and (max-width: 1550px) {
    justify-content: center;
  }

  .logos {
    overflow: hidden;
    width: 100%;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;

    // &:hover .logo-slide {
    //   animation-play-state: paused;
    // }

    &::before,
    &::after {
      position: absolute;
      top: 0;
      width: 180px;
      height: 100%;
      content: "";
      z-index: 2;
    }

    &::before {
      left: 0;
      background: linear-gradient(to left, rgb(255, 255, 255, 0), #fff);
    }

    &::after {
      right: 0;
      background: linear-gradient(to right, rgb(255, 255, 255, 0), #fff);
    }

    .logo-slide {
      display: inline-block;
      animation: 35s slide infinite linear;
      img {
        height: 120px;
        margin: 0 40px;
        @media screen and (max-width: 600px) {
          height: 110px;
        }
      }
    }
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .divSvg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
